h1{
    text-align: center;
}
nav ul li{
    display: inline;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    color: hsl(242, 34%, 78%);
}
body{

    background-color:rosybrown
}

#firstitem{
     background-color: rosybrown;
} 

.seconditem{
    background-color: rosybrown;
}

#parents{
    background-color: deeppink;
}
#child1{
    background-color: deeppink;
}
#child2{
    background-color: blueviolet
;
}
#child3{
    background-color: rgb(185, 80, 255);
}
